# Intro to Data Structures: Ace the Technical Interview

## Session 3: Arrays and Matrices

### Agenda for Today:

* Arrays 
* Metrics

In [ ]:
# Python library numpy will be called as np
import numpy as np

#### Array Method (Revision of list)

In [ ]:
# Define new list named 'a'

# print the array

[64, 32, 2, 4, 8, 256]

In [ ]:
# add an element 128 on the list

In [ ]:
# remove the 5th element on the list

[64, 32, 2, 4]

In [ ]:
# reverse the list

[256, 8, 4, 2, 32, 64]

#### Array

In [ ]:
# create a random array named 'arr1'

# print datatype of variable arr

# check the 4th element in array

<class 'numpy.ndarray'>
First element of the array: 4

In [ ]:
# create a new array (arr2) and add the 2 arrays together (arr3)
arr2 = np.array([3,6,7,8,2])
arr3 = arr1 + arr2
print('New array:', arr3)

Combined array is: [67 38  9 12 10]

In [ ]:
# create a new array (arr4) and multiply the 2 arrays together (arr5)

In [ ]:
arr_new = arr1.extend([])

#### Matrices

In [ ]:
# create a 1-D array with integers only using function random.randint

In [ ]:
# create a 2-D array with integers

In [ ]:
# create a 3-D array with random.rand

####Technical Question on Array

https://leetcode.com/problems/single-number/  

<font color="skyblue">  
__Problem:__  
_Given a non-empty array of integers nums, every element appears twice except for one. Find that single one._ <font>  
 
__Chain of Thought To Solve the Problem__  
-  Iterate through the array of elements/numbers
-  Check if the element/number does not exist in the dictionary
-  If it does not, add the element/number and value count of 1
-  If it does, increment the value count
- Iterate over the dictionary and return the number(key) whose value(count) is 1

In [ ]:
def single_number():