# Intro to Data Structures: Ace the Technical Interview

## Session 2: Python/Built-in Data Structures

### Agenda for Today:


*   Lists
*   Tuples
*   Dictionaries
*   Sets
*   Practice Interview Questions



---



---

#### Lists:

##### A quick example

In [ ]:
# Declare a list, named 'l' and print it out
l =

[1, 2, 3]

In [ ]:
# Find the first value in the list, print it out

1

##### List Operations

In [ ]:
# Use the append method to add an item to the list

In [ ]:
l

[1, 2, 3, 4]

In [ ]:
# Use the index method to search for an item in the list

1

In [ ]:
# Use the pop method to eemove the last item of a list

4

In [ ]:
l

[1, 2, 3]

In [ ]:
# Use the count method to count the number of items of a kind in a list

1

In [ ]:
# Add another occurrence of the number 2 to the list, try the count method again

2

In [ ]:
# Perform a shallow copy an existing list

[1, 2, 3, 2]

In [ ]:
# Perform a deep copy of an existing list

[1, 2, 3, 2]

In [ ]:
# Use the sort() method to sort the items in a list

[1, 2, 2, 3]



---



---

#### Tuples:

In [ ]:
#  Declare a tuple (using parentheses)
colors =

('Red', 'Green', 'Blue')

In [ ]:
# Add item to the tuple
colors =

('Red', 'Green', 'Blue', 'Orange')

In [ ]:
# Access an item in the tuple
print(

colors[0]:  Red

In [ ]:
# Update an existing tuple
colors2 = 
colors3 =

('Red', 'Green', 'Blue', 'Orange', 'Purple', 'Pink', 'Brown')



---



---

#### Dictionaries:

In [ ]:
# Declare a new dictionary using square brackets
myDict =

{'country': 'USA', 'name': 'Rishika', 'occupation': 'student'}

In [ ]:
# Access item from the dictionary
print(

Rishika

In [ ]:
# Access another item from the dictionary
print(

USA

In [ ]:
# Modify item of the dictionary
myDict[

{'country': 'USA', 'name': 'Rishika', 'occupation': 'programmer'}

In [ ]:
# Add item to the dictionary
myDict[

{'country': 'USA',
 'name': 'Rishika',
 'occupation': 'programmer',
 'state': 'California'}

In [ ]:
# Remove item from the dictionary
myDict.

{'name': 'Rishika', 'occupation': 'programmer', 'state': 'California'}

#### Sets:

In [ ]:
# Declare a new set using curly braces
myset =

{1, 2, 3}

In [ ]:
# Find set size

3

In [ ]:
# Test for set membership

True

False

In [ ]:
# Union of two sets
set2 = 
union_set =

{1, 2, 3, 6, 7, 8}

In [ ]:
# Intersection of two sets
intersection_set =

{1}

In [ ]:
# Find difference of two sets
difference_set =

{2, 3}

#### Practice Interview Questions:

Question #1: What will be the output of the following code?

*init_tuple = ()*
*print (init_tuple.__len__())*

In [ ]:
init_tuple = ()
print (init_tuple.__len__())

0

Question #2: Which of the following statements given below is/are true?

A. Tuples have structure, lists have an order.

B. Tuples are homogeneous, lists are heterogeneous.

C. Tuples are immutable, lists are mutable.

D. All of them.

Question #3: What will be the output of the following code snippet?

*a = {(1,2):1,(2,3):2}*
*print(a[1,2])*

In [ ]:
a = {(1,2):1,(2,3):2}
print(a[1,2])

1

Question #4: Say we declare a set like so:

In [ ]:
my_set = {1, 3, 4, 5, 6}
print(my_set)

{1, 3, 4, 5, 6}

Now, we want to remove some elements. What will the output of both of these code snippets be?

1.   my_set.remove(6)
2.   my_set.remove(2)

In [ ]:
my_set = {1, 3, 4, 5, 6}
my_set.remove(6)
print(my_set)

{1, 3, 4, 5}

In [ ]:
my_set = {1, 3, 4, 5, 6}
my_set.remove(2)
print(my_set)

KeyError: ignored



---



---

#### References & Further Reading:


1.   LeetCode (easy-level): https://leetcode.com/explore/interview/card/top-interview-questions-easy/
2.   Sets in Python (https://www.programiz.com/python-programming/set)
3.   Lists, Tuples, and Dictionaries in Python (https://www.techbeamers.com/python-programming-questions-list-tuple-dictionary/)