# Intro to Data Structures: Ace the Technical Interview

## Session 3: Arrays and Matrices

### Agenda for Today:

* Arrays 
* Metrics

In [ ]:
# Python library numpy will be called as np
import numpy as np

#### Array Method (Revision of list)

In [ ]:
a = [64,32,2,4,8,256]
print(a)

[64, 32, 2, 4, 8, 256]

In [ ]:
# add an element 128 on the list
a.append(128)
print(a)

In [ ]:
# remove the 5th element on the list
a.pop(4)
print(a)

[64, 32, 2, 4]

In [ ]:
# reverse the list
a.reverse()
print(a)

NameError: ignored

#### Array

In [ ]:
# create a random array
arr1 = np.array([64,32,2,4,8])
print(type(arr1)) # print datatype of variable arr
print('First element of the array:',arr1[3])  # check the 4th element in array

<class 'numpy.ndarray'>
First element of the array: 4

In [ ]:
# create a new array and add the 2 arrays togther
arr2 = np.array([3,6,7,8,2])
arr3 = arr1 + arr2
print('New array:', arr3)

Combined array is: [67 38  9 12 10]

In [ ]:
# create a new array and multiply the 2 arrays together
arr4 = np.array([2,2,2,2,2])
arr5 = arr1 * arr4
print('New array:', arr5)

In [ ]:
arr_new = arr1.extend([])

#### Matrices

In [ ]:
# create a 1-D array with integers only using function random.randint
mat1d = np.random.randint(low=5,high=20, size=10)
print('1-D array is {} and its shape is {}'.format(mat1d, mat1d.shape))

1-D array is [17  7 13  7 14 14 14 12  8  6] and its shape is (10,)

In [ ]:
# create a 2-D array with integers
mat2d = np.random.randint(low=0, high=5, size=(3,2))
print('2-D array: \n {}\ndimension is {}\nshape is {}'.format(mat2d, mat2d.ndim, mat2d.shape))

2-D array:
 [[4 0]
 [0 0]
 [4 2]]
dimension is 2
shape is (3, 2)

In [ ]:
# create a 3-D array with random.rand
mat3d = np.random.rand(2,3,3)
print('3-D array \n {}\ndimension is {}\nshape is {}'.format(mat3d, mat3d.ndim, mat3d.shape))

####Technical Question on Array

https://leetcode.com/problems/single-number/  

<font color="skyblue">  
__Problem:__  
_Given a non-empty array of integers nums, every element appears twice except for one. Find that single one._ <font>  
 
__Chain of Thought To Solve the Problem__  
-  Iterate through the array of elements/numbers
-  Check if the element/number does not exist in the dictionary
-  If it does not, add the element/number and value count of 1
-  If it does, increment the value count
- Iterate over the dictionary and return the number(key) whose value(count) is 1

In [ ]:
# nums = [1,2,1,2,4]
def single_number(nums): 
    my_dict = {}

    for num in nums:
        if num not in my_dict:
            my_dict[num] = 1
        else:
            my_dict[num] += 1

    print(my_dict)
    for element, value in my_dict.items():
        if value==1:
            return element

single_number([1,2,1,2,4])